* {
  margin: 0;
  font-family: "poppins";
  font-weight: 300;
  text-align: center;
}

@font-face {
  font-family: "poppins";
  src: url(../../../assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "poppins";
  src: url(../../../assets/fonts/Poppins-Regular.ttf);
  font-weight: 100;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  margin-top: 25px;
  padding: 45px 10px;
  border-bottom: 20px solid #563461;
  color: #8F8F8F;
  background-color: #F3F3F3;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer__title {
  font-size: 20px;
  font-weight: 300;
  text-decoration-line: underline;
}
.footer__subtitle {
  font-size: 18px;
  font-weight: 700;
}
.footer__container-links {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
  }
}
.footer__link {
  font-size: 16px;
  text-decoration: none;
  color: #8F8F8F;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding-top: 0;
  }
}

.main__header {
  width: 100%;
  height: 600px;
  background-image: url(../../../assets/images/rick-y-morty-temporada-4_3840x2400_xtrafondos\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main__header {
    height: 800px;
  }
}
.main__page {
  width: 280px;
  height: 150px;
  border-radius: 200px;
  border: none;
  background: #EEE4F1;
  color: #471D4F;
  text-align: center;
  font-size: 24px;
  margin: 50px auto 50px auto;
  font-weight: 700;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__page {
    width: 500px;
  }
}
.main__text {
  font-size: 16px;
  width: 280px;
  text-align: center;
  margin: 40px auto;
}
.main__separator {
  border-top: 1px solid black;
  height: 1px;
  width: 120px;
  margin: 0 auto;
}
.main__container-page {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main__container-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #563461;
    margin-top: 70px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .main__container-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #563461;
    margin-top: 70px;
  }
}
@media screen and (min-width: 1440px) {
  .main__container-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #563461;
    margin-top: 70px;
  }
}
.main__container-title {
  color: #FFFFFF;
  padding-top: 100px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__container-title {
    padding-top: 110px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main__container-title {
    padding-top: 100px;
  }
}
.main__title {
  text-decoration: underline;
  font-size: 36px;
  font-weight: 300;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__title {
    font-size: 45px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main__title {
    font-size: 60px;
  }
}
.main__subtitle {
  font-size: 28px;
  font-weight: 700;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main__subtitle {
    font-size: 33px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main__subtitle {
    font-size: 50px;
  }
}

.header {
  background-color: #563461;
  color: #EEE4F1;
  display: flex;
  justify-content: space-between;
}
.header__img {
  margin-left: 20px;
}
.header__container {
  display: block;
  margin: auto;
}
.header__title {
  font-family: "poppins";
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
}
.header__subtitle {
  font-family: "poppins";
  font-size: 12px;
  font-weight: 700;
}

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.section__title {
  font-size: 14px;
  background-color: #BEA1C7;
  color: #471D4F;
  font-weight: 700;
}

.card {
  width: 380px;
  margin: auto;
}
.card__container-details {
  display: flex;
  justify-content: flex-start;
}
.card__img {
  height: 132px;
  margin-right: 20px;
}
.card__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px;
}
.card__title {
  font-size: 14px;
  color: #563461;
  font-weight: 700;
}
.card__title-info {
  font-size: 12px;
  background-color: #81CE7F;
  color: #FFFFFF;
  padding: 3px 20px;
}
.card__title-info--dead {
  font-size: 12px;
  padding: 3px 20px;
  background-color: red;
  color: #FFFFFF;
}
.card__title-info--unknown {
  font-size: 12px;
  padding: 3px 20px;
  background-color: #BBB;
  color: #FFFFFF;
}
.card__info-container {
  display: block;
  width: 200px;
}
.card__info-title {
  font-size: 10px;
  color: #8F8F8F;
}
.card__info {
  font-size: 14px;
  color: #000000;
}
.card__button {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 130px;
  text-align: center;
  background-color: #EEE4F1;
  color: #4D1F5B;
  border: none;
  border-radius: 50px;
}/*# sourceMappingURL=styles.css.map */