.episode{
    &__detail-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include adaptTo ('not-mobile'){
            display: flex;
            flex-direction: row;
        }
    }
    &__detail-header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        height: 50px;
        border-radius: 100px;
        margin: 30px;
        background-color: $color-senary;
        color: $color-secondary;
        @include adaptTo ('not-mobile'){
            height: 100vh;
            width: 50vw;
            border-radius: 0;
            margin: 0;
        }
    }
    &__detail-title{
        font-size: 20px;
        font-weight: 700;
        @include adaptTo ('not-mobile'){
            font-size: 40px;
            padding: 100px;
        }
    }
    &__info{
        text-align: start;
        color: $color-primary;
        font-size: 14px;
        font-weight: 700;
    }
    &__info-text{
        width: 260px;
        height: 30px;
        text-align: start;
        font-size: 18px;
        margin-bottom: 20px;
        padding: 5px 10px;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        background-color: $color-thirteenth;
        color: $color-cuaternary;
    }
    &__characters{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    &__detail-characters{
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: flex-start;
        
    }
    &__img-small{
        width: 90px;
        height: 90px;
        margin-top: 10px;
        border: 2px solid $color-tenth;
        border-radius: 100px;
        cursor: pointer;
    }
    &__detail-data{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        margin: 10px 20px;
        @include adaptTo('not-mobile'){
            margin: 45px 30px;
        }
    }
}
