.section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    @include adaptTo ('not-mobile'){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__title{
        font-size: 14px;
        background-color: $color-tenth;
        color:$color-secondary;
        font-weight: 700;
        @include adaptTo ('not-mobile'){
            font-size: 18px;
        }
    }
    &-img{
        @include adaptTo('not-mobile'){
            background-color: #F2F2F2;
            height: 1200px;  
        }
        
    }
    &--episodes{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    @include adaptTo ('tablet'){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }
    @include adaptTo ('desktop-m'){
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        align-items: baseline;
        justify-content: center;
    }
    @include adaptTo ('desktop-l'){
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        align-items: baseline;
        justify-content: center;
    }
    @include adaptTo ('desktop-xl'){
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        align-items: baseline;
        justify-content: center;
    }
    }
}