$color-primary:#8F8F8F;
$color-secondary:#471D4F;
$color-terciary:#EEE4F1;
$color-cuaternary:#000000;
$color-quinary:#FFFFFF;
$color-senary:#F3F3F3;
$color-septenary:#F9F9F9;
$color-octonary:#563461;
$color-nineth:#643762;
$color-tenth:#BEA1C7;
$color-eleventh:#81CE7F;
$color-twelveth:#4D1F5B;